@import "tailwindcss";

@theme {
  --color-primary: #6366F1; /* Indigo-500 */
  --color-dark-bg: #0A0A0A;
  --color-card-bg: #0F0F11;
  --color-border-subtle: #27272A;
}

body {
  @apply text-zinc-900 min-h-screen antialiased selection:bg-blue-500/20;
  background-color: #f4f4f5; /* Zinc 100 */
  font-family: 'Plus Jakarta Sans', sans-serif;
}
